body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header h2 {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

.logo {
    width: 60%;
    height: 100%;
    margin-left: 5%;
}

.topOption {    
    position: absolute;
    right: 5%;
    top: 1.25em;
}

header {
    height: 4em;
    text-align: center;
    display: block;
    background-color: #eee;
}

.big-virus {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
    height: 40vh;
}

.greeting {
    color: #555;
    margin-top: 2em;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    /*width: 70%;*/
    height: 40vh;
    text-align: center;
}

.page-title {
    color: #000;
    margin-top: 1.5em;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    /*width: 70%;*/
    height: 10vh;
    text-transform: uppercase;
    text-align: center;
}

.page-title-small {
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.small-virus {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
    height: 30vh;
}

.arrow-container {
    text-align: center;
    margin-left: 5%;
    height: 2.5em; 
}

.arrow-container img {
    height: 2.5em;
    margin: 0 5%;
}

.arrow-container span {
    display: inline-block;
    height: 2.5em;
    color: #555;
    font-weight: bold;
    font-size: x-large;
    margin-top: .3em;
    margin-left: 2em;
}

.disable-margin {
    margin-left: 0 !important;
}

.arrow-left {
    float: left;
}

.arrow-right {
    float: right;
}

.separator h4 {
    margin: 3px;
}

.separator {
    margin-top: 1em;
    padding: 3px;
    background-color: #eee;
    text-align: center;
}

main {
    padding: 12px 5%;
    background-color: #eee;
    height: 40vh;
    overflow: auto;
}

main h4 {
    margin-top: 0;
}

.question {
    display: table;
    text-transform: uppercase;
    background: #e0e0e0;
    padding: 2% 0;
    margin-top: 4px;
    width: 100%;
}

.odd {
    background: #f7f7f7;
}

.question span {
    display: table-cell;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    width: 80%;
    font-size: .9em;

    font-weight: bold;
    font-style: italic;
}

input[type="checkbox"] {
    display: none;
}

.question > div {
    padding: 0;
    margin-right: 0;
    margin-left: 5px;
}

.mycheckbox input[type="checkbox"] + label {
    display: table-cell;
    background-image: url("assets/checkbox_unchecked.svg");
    background-position: left center;
    background-size: auto 100%;
    width: 64px;
    height: 40px;
    background-repeat: no-repeat;
 }

 .mycheckbox input[type="checkbox"]:checked + label {
    background-image: url("assets/checkbox_checked.svg");
  }

/*.checker + label {
    display: table-cell;
    background-image: url("assets/checkbox_unchecked.svg");
    background-position: left center;
    background-size: auto 100%;
    width: 64px;
    height: 40px;
    background-repeat: no-repeat;
}

#trigger:checked + .checker {
    background-image: url("assets/checkbox_checked.svg");
}*/

input[type="number"] {
    display: table-cell;
    width: 40%;
    height: 2em;
    background-color: rgb(115,115,115);
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 0 1em;
    font-size: 1em;
    text-align: center;
  }

.more-info {
    color: #FF646F;
    text-decoration: underline;
    text-transform: uppercase;
    float: right;
}

/*
    Groups
*/

.group-options {
    position: relative;
    display: table;
    margin: 0 auto;
    height: 5vh;
    z-index: 3;
}

.group-options > div {
    display: table-cell;
    
}

.group-options label {
    display: table-cell;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;  
}

.sim-top-separator {
    margin-top: -5vh;
    left: 0;
    position: absolute;
    width: 100%;
    height: 8vh;
    background-color: lightgray;
    z-index: 1;
}

.adults {
    display: table-cell;
    background-image: url("assets/icon_adults.svg");
}

#adults:checked + .adults {
    background-image: url("assets/icon_adults_hover.svg");
}

.children {
    display: table-cell;
    background-image: url("assets/icon_children.svg");
}

#children:checked + .children {
    background-image: url("assets/icon_children_hover.svg");
}

.elderly {
    display: table-cell;
    background-image: url("assets/icon_elderly.svg");
}

#elderly:checked + .elderly {
    background-image: url("assets/icon_elderly_hover.svg");
}

.sick {
    display: table-cell;
    background-image: url("assets/icon_sick.svg");
}

#sick:checked + .sick {
    background-image: url("assets/icon_sick_hover.svg");
}

/*
    Canvas
*/
canvas {
    margin-top: 3vh;
    width: 100%;
}

/*
    Behaviors
*/

.sim-bottom-separator {
    height: 8vh;
    background-color: lightgray;
}

.behavior {
    margin-top: -5vh;
}

.mask {
    display: table-cell;
    background-image: url("assets/icon_breathingmask_on.svg");
}

#mask:checked + .mask {
    background-image: url("assets/icon_breathingmask_off.svg");
}

.wash-hands {
    display: table-cell;
    background-image: url("assets/icon_hand_cleaning.svg");
}

#wash-hands:checked + .wash-hands {
    background-image: url("assets/icon_hand_nocleaning.svg");
}

.distance {
    border: 0;
    background-color: 0;
    display: table-cell;
    width: 72px;
    height: 72px;
    background: transparent;
    background-image: url("assets/icon_distance_0.svg");
}

.home-inside {
    display: table-cell;
    background-image: url("assets/icon_home_inside.svg");
}

#home-inside:checked + .home-inside {
    background-image: url("assets/icon_home_outside.svg");
}

/*
    Sim Controls
*/
select {
    display: inline-block;
    border: 0;
    background-color: lightgray;
    font-size: 1.25em;
}

.sim-controls {
    margin: 0 5%;
    text-align: center;
}

.sim-controls img {
    margin: 0 4%;
    display: inline-block;
    width: 32px;
    height: 32px;
}


/*
    Footer
*/
footer h4 {
    text-decoration: underline;
}

footer img {
    height: 11vh;
}

.footer {
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
}

.footer-controls{
    background-color: white;
    width: 100%;
    position: fixed;
    display: block;
    bottom: 1em;
}