body {
    margin: 0;
}

header h2 {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

.logo {
    width: 60%;
    height: 100%;
    margin-left: 5%;
}

.topOption {    
    position: absolute;
    right: 5%;
    top: 1.25em;
}

header {
    height: 4em;
    text-align: center;
    display: block;
    background-color: #eee;
}

.big-virus {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
    height: 40vh;
}

.small-virus {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 70%;*/
    height: 30vh;
}

.arrow-container {
    height: 2.5em; 
}

.arrow-container img {
    height: 2.5em;
    margin: 0 5%;
}

.arrow-left {
    float: left;
}

.arrow-right {
    float: right;
}

.seperator h4 {
    margin: 3px;
}

.seperator {
    margin-top: 1em;
    padding: 3px;
    background-color: #eee;
    text-align: center;
}

main {
    padding: 3px;
    margin: 15px 5%;
    background-color: #eee;
    max-height: 40vh;
    overflow: auto;
}

main h4 {
    margin-top: 0;
}

footer img {
    height: 11vh;
}

.footer {
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
}

.footer-controls{
    width: 100%;
    position: fixed;
    display: block;
    bottom: 1em;
}